.main-header{
	color:white;
	position: absolute;
	text-align: center;
	top: 30%;
	width: 100%;


}
body{
  background-color: lightslategray;
}

.porti{
	font-size: 3000px;
	padding: 30px;
	text-align: center;
	font-weight: bold;
	font-style: normal;

}

h1.name{
	font-size: 70px;
	line-height: 50%;
	padding: 40px;
    font-weight: bold;
	font-variant: small-caps;
}
.and{
	font-size: 30px;
}
h1{
	text-align: center;
	padding: 40px;
	text-decoration: white;
}
.conta{
	text-align: center;
	font-size: 30px;
	font-weight: bold;
	padding: 10px;
}


.social_m{
	position: relative;
  font-size: smaller;
	text-align: center;
	line-height: 50px
  

	
}
	

	


a{
	margin: 10px 10px;
	font-size: 20px;
	line-height: 50%;
	padding: 20px 18px;
	border: 3px solid #fff;
	border-radius: 50%;
	color: white;


}
.about-me{
	background: #ccc;
	height: 50vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	position: relative;

}


.container{
	position: absolute;
	width: 800px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.right-side{
	position: relative;
	width: 300px;

}

.right-side img{
	width: 100%;
	height: 100%


}

.left-side{
	position: relative;
	width: 300px;
	margin-top: 75px;
	margin-right: 60px;
	padding: 20px;
	

}

.left-side h1{
	position: relative;
	margin-top: -100px;
	font-size: 30px;
	font-weight: 600;
	/* color: rgba(0,0,0,0.2); */
	text-transform: uppercase;
}

h2{
	padding: 20px;
}
.left-side .name{
	width: 400px;
	height: 50px;


}
p{
	font-size: 14px;
	font-weight: 500;
	color: rgba(0,0,0,0.5);
}
.abt{
	text-align: center;
}


.my-work{
	background:black;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: sans-serif;
	position: relative;
	
}

#main-footer{
	background: #333;
	color: #fff;
	text-align: center;
	padding: 20px;
	margin-top: 40px;
}



#particles-js{
	/* height: 100%; */
	background: black;
}

@media(max-width: 600px){
	#about-me{
		width: 100%;
		
	}

}

h5,
h6 {
  color:black;
}





/*------/ Box /------*/



.box-shadow-full {
  padding: 3rem 1.25rem;
  position: relative;
  background-color:transparent;
  margin-bottom: 3rem;
  z-index: 2;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}

/*------/ Socials /------*/

.socials {
  padding: 1.5rem 0;
}

.socials ul li {
  display: inline-block;
}

.socials .ico-circle {
  height: 42px;
  width: 42px;
  font-size: 1.5rem;
  border-radius: 50%;
  line-height: 1.4;
  margin: 0 15px 0 0;
  padding: 4px;
  color: white;
  box-shadow: 0 0 0 3px #ffffff;
  transition: all 500ms ease;
}

.socials .ico-circle:hover {
  background-color: #000000;
  color: #fff;
  box-shadow: 0 0 0 3px #318ef8;
  transition: all 500ms ease;
}

/*------/ Ul resect /------*/

.ul-resect,
.socials ul,
.list-ico,
.blog-wrapper .post-meta ul,
.box-comments .list-comments,
.widget-sidebar .list-sidebar,
.widget-tags ul {
  list-style: none;
  padding-left: 0;
  margin-bottom: 0;
}

.list-ico {
  line-height: 2;
  color:blueviolet;
  font-weight: 600;
}

.list-ico span {
  color: #0078ff;
  margin-right: 10px;
  font-size: 20px;
}

/*------/ Ico Circle /------*/

.ico-circle {
  height: 80px;
  width: 80px;
  font-size: 2rem;
  border-radius: 50%;
  line-height: 1.55;
  margin: 0 auto;
  text-align: center;
  box-shadow: 0 0 0 10px #0078ff;
  display: block;
}

/*------/ Owl Carousel /------*/

.owl-theme .owl-dots {
  text-align: center;
  margin-top: 18px;
}

.owl-theme .owl-dots .owl-dot {
  display: inline-block;
}

.owl-theme .owl-dots .owl-dot span {
  width: 18px;
  height: 7px;
  margin: 5px 5px;
  background: #cde1f8;
  border: 0px solid #cde1f8;
  display: block;
  transition: all 0.6s ease-in-out;
  cursor: pointer;
}

.owl-theme .owl-dots .owl-dot:hover span {
  background-color: #cde1f8;
}

.owl-theme .owl-dots .owl-dot.active span {
  background-color: #1B1B1B;
  width: 25px;
}

/*--/ Scrolltop s /--*/

.scrolltop-mf {
  position: relative;
  display: none;
}

.scrolltop-mf span {
  z-index: 999;
  position: fixed;
  width: 42px;
  height: 42px;
  background-color: #0078ff;
  opacity: .7;
  font-size: 1.6rem;
  line-height: 1.5;
  text-align: center;
  color: #fff;
  top: auto;
  left: auto;
  right: 30px;
  bottom: 50px;
  cursor: pointer;
  border-radius: 50%;
}

.imgs{
  height: 120px;
  width: 160px;
}
/* Prelaoder */

#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  overflow: hidden;
  background: #fff;
}

#preloader:before {
  content: "";
  position: fixed;
  top: calc(50% - 30px);
  left: calc(50% - 30px);
  border: 6px solid #f2f2f2;
  border-top: 6px solid #0078ff;
  border-radius: 50%;
  width: 60px;
  height: 60px;
  -webkit-animation: animate-preloader 1s linear infinite;
  animation: animate-preloader 1s linear infinite;
}

@-webkit-keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

@keyframes animate-preloader {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
